# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.pylint.d

# Environments
env/
venv/
ENV/
.venv/

# Idea
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and temp files
*.log
*.tmp

# Trained model artifacts
models/
